.row {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dee1e9;
  font-size: 28px;
  font-weight: 700;
  height: 56px;
  margin: 3px;
  text-transform: uppercase;
  width: 56px;
  border-radius: 5px;
  color: #393e4c;
  background: #fbfcff;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.keyBoardRow {
  display: flex;
  justify-content: center;
}

.key {
  align-items: center;
  background-color: #dce1ed;
  color: #414a5e !important;
  border: 2px solid transparent;
  border-radius: 4px;
  user-select: none;
  display: flex;
  flex: 1 1;
  font-size: 17px;
  font-weight: 700;
  justify-content: center;
  margin: 3px;
  min-height: 46px;
  padding: 3px;
  text-transform: capitalize;
  cursor: pointer;
}

.key:hover {
  background: #c4cbdd;
}

.container {
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
