.sectionTitle {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
}

.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
}

.name {
  font-size: 32px;
  font-family: "Tangerine", cursive;
  color: #505a46;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groommen {
  margin-left: 100px;
}

.sections {
  flex-direction: row;
}

.job {
  font-weight: bold;
  color: #67745a;
}

@media only screen and (max-width: 600px) {
  .groommen {
    margin-left: 0px;
  }

  .sections {
    flex-direction: column;
  }
}
